.student-card {
  text-align: center;
  padding: 40px;
}

.student-title {
  font-size: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
